# JS Modules
snippet MDL
	(function ($super)
		function ${2:Module} () {
			var $private = {};
			var $protected = this;
			var $public = $protected;

			${4://Privates and Publics...}

			return $protected;
		}

		${1:SCOPE}.${2:Module} = (function () {
			return new ${2:Module}();
		})();

		${1:SCOPE}.${2:Module}.fn = ${2:Module}.prototype;
		
	)(${1:SCOPE});